@import "tailwindcss";

@theme {
  --color-primary: #435d5a;
  --color-secondary: #6b7a75;
}

@layer components {
  .main-container {
    @apply container mx-auto px-4;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded-xl cursor-pointer outline-none text-center;
  }
  .light-btn {
    @apply bg-white text-primary;
  }
  .dark-btn {
    @apply bg-primary text-white;
  }
  .input {
    @apply border border-gray-300 bg-white rounded-xl p-2 focus:border-primary outline-none w-full;
  }
  .label {
    @apply font-medium mb-1 text-sm;
  }
  .mobile-nav {
    @apply w-2/3 h-full fixed inset-0 bg-white p-6 shadow-lg z-50;
  }
  .loading {
    @apply fixed inset-0 inline-flex justify-center items-center bg-white z-50 min-h-screen;
  }
}

:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.mobile-nav {
  animation: slideIn 0.3s;
}

.arrow-rotated {
  transform: rotateZ(-180deg);
}

.mega-menu-opened {
  top: 100%;
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
}

.mega-menu-closed {
  top: calc(100% + 70px);
  z-index: -100;
  opacity: 0;
  pointer-events: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
